# fly.toml app configuration file generated for crypto-airdrop-bot
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "crypto-airdrop-bot"
primary_region = "sin"

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256
